.nav-links-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-links-link {
  font-family: Space Grotesk;
  text-decoration: none;
}
.nav-links-link1 {
  font-family: Space Grotesk;
  text-decoration: none;
}
.nav-links-link2 {
  text-decoration: none;
}
@media(max-width: 767px) {
  .nav-links-links {
    display: none;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #f5f5d4;
}
.home-text {
  top: var(--dl-space-space-twounits);
  left: 24px;
  color: rgb(39, 39, 45);
  bottom: 8px;
  position: absolute;
  font-size: 65px;
  font-family: Space Grotesk;
}
.home-branding {
  width: 681px;
  height: 0px;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.home-desktop-menu {
  display: flex;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-right {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-work-with-us {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us:hover {
  opacity: 0.5;
}
.home-link {
  display: flex;
  font-size: 24px;
  text-decoration: none;
}
.home-image {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-work-with-us1 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us1:hover {
  opacity: 0.5;
}
.home-text01 {
  display: flex;
  font-size: 24px;
}
.home-image01 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding1 {
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  border-color: #61616B;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-text02 {
  color: #27272D;
  font-size: 30px;
  font-family: Inter;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-middle {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-work-with-us2 {
  cursor: pointer;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us2:hover {
  opacity: 0.5;
}
.home-text03 {
  display: flex;
  font-size: 24px;
}
.home-hero {
  gap: 120px;
  width: 100%;
  height: 1378px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: 140px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 277px;
  background-color: #f5f5d4;
}
.home-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text04 {
  color: rgb(39, 39, 45);
  width: 1034px;
  height: 509px;
  font-size: 54px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 55px;
  background-color: rgb(245, 245, 212);
}
.home-text05 {
  font-size: 46px;
}
.home-text06 {
  font-size: 46px;
}
.home-text07 {
  font-size: 46px;
}
.home-text08 {
  font-size: 46px;
}
.home-text09 {
  font-size: 46px;
}
.home-text10 {
  font-size: 46px;
}
.home-text11 {
  font-size: 46px;
}
.home-text12 {
  font-size: 46px;
}
.home-text13 {
  font-size: 46px;
}
.home-text14 {
  font-size: 46px;
}
.home-text15 {
  font-size: 46px;
}
.home-text16 {
  font-size: 46px;
}
.home-text17 {
  font-size: 46px;
}
.home-text18 {
  font-size: 46px;
}
.home-text19 {
  font-size: 46px;
}
.home-text20 {
  font-size: 46px;
}
.home-text22 {
  font-size: 46px;
}
.home-work-with-us3 {
  cursor: pointer;
  align-self: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(229, 254, 88);
}
.home-work-with-us3:hover {
  opacity: 0.5;
}
.home-link04 {
  display: flex;
  font-size: 24px;
  justify-content: flex-end;
  text-decoration: none;
}
.home-image02 {
  width: 100px;
  display: none;
  object-fit: cover;
}
.home-hero-image {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 180px;
  padding-right: 180px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  background-color: #f5f5d4;
}
.home-image03 {
  top: -95px;
  left: -29px;
  width: 1177px;
  height: 445px;
  margin: var(--dl-space-space-unit);
  position: absolute;
  box-shadow: 5px 5px 10px 0px #7e5a5a;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-information {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 1242px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 140px;
  border-top-width: 1px;
}
.home-purpose {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption {
  color: rgb(39, 39, 45);
  font-size: 22px;
  letter-spacing: 5%;
  text-transform: uppercase;
  text-decoration: underline;
}
.home-description {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 30px;
  max-width: 900px;
  line-height: 54px;
}
.home-industries {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption1 {
  color: rgb(39, 39, 45);
  font-size: 22px;
  align-self: flex-start;
  letter-spacing: 5%;
  text-transform: uppercase;
  text-decoration: underline;
}
.home-list {
  flex: 1;
  width: 1056px;
  height: 442px;
  display: grid;
  grid-gap: 80px;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: auto auto auto;
}
.home-item {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text27 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text28 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text29 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text30 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text31 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text32 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text33 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text34 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text35 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text36 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text37 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text38 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text39 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text40 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text41 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text42 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text43 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text44 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text45 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text46 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item4 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text47 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text48 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text49 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text50 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text51 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item5 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text52 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text53 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text54 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text55 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text56 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item6 {
  gap: var(--dl-space-space-twounits);
  height: 236px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 40px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text57 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text58 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text59 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item7 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title1 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 40px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text60 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text65 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text66 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-item8 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-trigger2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title2 {
  color: rgb(39, 39, 45);
  width: 100%;
  font-size: 40px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text67 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text68 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-text69 {
  color: rgb(39, 39, 45);
  cursor: pointer;
  font-size: 18px;
}
.home-section {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 135px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 135px;
  background-color: #27272D;
}
.home-case-studies {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 2190px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: 130px;
  border-bottom-width: 1px;
}
.home-caption2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.home-text75 {
  color: rgb(255, 255, 255);
  letter-spacing: 5%;
  text-transform: uppercase;
}
.home-date-range {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-text76 {
  color: rgb(255, 255, 255);
}
.home-text77 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 300;
}
.home-text78 {
  color: rgb(255, 255, 255);
}
.home-gallery {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-row {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-case {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: column;
}
.home-image04 {
  width: 560px;
  height: 416px;
  object-fit: cover;
}
.home-heading {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text79 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-case1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image05 {
  width: 640px;
  height: 545px;
  object-fit: cover;
}
.home-heading1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text82 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 36px;
}
.home-image06 {
  width: 640px;
  height: 545px;
  align-self: center;
  object-fit: cover;
}
.home-text86 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  align-self: center;
  line-height: 36px;
}
.home-row1 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-case2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading2 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-book {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #E5FE58;
}
.home-content {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-left {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 810px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text91 {
  font-size: 54px;
  font-weight: initial;
  line-height: 65px;
}
.home-button1 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 70px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: lowercase;
  background-color: rgb(0, 0, 0);
}
.home-link05 {
  text-decoration: none;
}
.home-image07 {
  height: 400px;
  object-fit: cover;
}
.home-section1 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #244444;
}
.home-about-us {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home-header1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
}
.home-caption3 {
  color: #ffffff;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.home-statistics {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #ffffff;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.home-statistic {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text92 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  line-height: 65px;
}
.home-text93 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-statistic1 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text94 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  line-height: 65px;
}
.home-text95 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-statistic2 {
  gap: var(--dl-space-space-unit);
  width: 272px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text96 {
  color: rgb(255, 255, 255);
  font-size: 54px;
  line-height: 65px;
}
.home-text97 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: center;
  line-height: 27px;
}
.home-recruit {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-sections {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-section2 {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-header2 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-branding2 {
  color: rgb(39, 39, 45);
  font-size: 30px;
}
.home-content1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #61616B;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.home-contact {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-email {
  color: rgb(39, 39, 45);
  font-size: 30px;
  text-decoration: none;
}
.home-number {
  color: rgb(39, 39, 45);
  font-size: 30px;
  text-decoration: none;
}
.home-links-row {
  gap: 128px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.home-links-column {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-links-column1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-locations {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home-location {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 270px;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
}
.home-location1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 270px;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 1px;
  flex-direction: column;
}
.home-title3 {
  color: rgb(39, 39, 45);
  font-size: 30px;
  text-decoration: none;
}
.home-location2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 270px;
  align-items: flex-start;
  flex-direction: column;
}
.home-title4 {
  color: rgb(39, 39, 45);
  font-size: 30px;
  text-decoration: none;
}
.home-location3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  max-width: 270px;
  align-items: flex-start;
  flex-direction: column;
}
.home-title5 {
  color: rgb(39, 39, 45);
  font-size: 30px;
  text-decoration: none;
}
.home-socials {
  gap: var(--dl-space-space-twounits);
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    gap: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .home-link {
    line-height: 30px;
  }
  .home-text01 {
    line-height: 30px;
  }
  .home-text03 {
    line-height: 30px;
  }
  .home-hero {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-text04 {
    font-size: 32px;
  }
  .home-link04 {
    line-height: 30px;
  }
  .home-hero-image {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-information {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
    border-top-width: 0px;
  }
  .home-purpose {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-caption {
    font-size: 12px;
  }
  .home-description {
    font-size: 16px;
    line-height: 28px;
  }
  .home-caption1 {
    font-size: 12px;
  }
  .home-list {
    grid-gap: 16px;
    grid-template-columns: auto;
  }
  .home-item {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text27 {
    font-size: 16px;
  }
  .home-text28 {
    font-size: 16px;
  }
  .home-text29 {
    font-size: 16px;
  }
  .home-text30 {
    font-size: 16px;
  }
  .home-text31 {
    font-size: 16px;
  }
  .home-item1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text32 {
    font-size: 16px;
  }
  .home-text33 {
    font-size: 16px;
  }
  .home-text34 {
    font-size: 16px;
  }
  .home-text35 {
    font-size: 16px;
  }
  .home-text36 {
    font-size: 16px;
  }
  .home-item2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text37 {
    font-size: 16px;
  }
  .home-text38 {
    font-size: 16px;
  }
  .home-text39 {
    font-size: 16px;
  }
  .home-text40 {
    font-size: 16px;
  }
  .home-text41 {
    font-size: 16px;
  }
  .home-item3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text42 {
    font-size: 16px;
  }
  .home-text43 {
    font-size: 16px;
  }
  .home-text44 {
    font-size: 16px;
  }
  .home-text45 {
    font-size: 16px;
  }
  .home-text46 {
    font-size: 16px;
  }
  .home-item4 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text47 {
    font-size: 16px;
  }
  .home-text48 {
    font-size: 16px;
  }
  .home-text49 {
    font-size: 16px;
  }
  .home-text50 {
    font-size: 16px;
  }
  .home-text51 {
    font-size: 16px;
  }
  .home-item5 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text52 {
    font-size: 16px;
  }
  .home-text53 {
    font-size: 16px;
  }
  .home-text54 {
    font-size: 16px;
  }
  .home-text55 {
    font-size: 16px;
  }
  .home-text56 {
    font-size: 16px;
  }
  .home-item6 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text57 {
    font-size: 16px;
  }
  .home-text58 {
    font-size: 16px;
  }
  .home-text59 {
    font-size: 16px;
  }
  .home-item7 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title1 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text60 {
    font-size: 16px;
  }
  .home-text65 {
    font-size: 16px;
  }
  .home-text66 {
    font-size: 16px;
  }
  .home-item8 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-title2 {
    font-size: 32px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-text67 {
    font-size: 16px;
  }
  .home-text68 {
    font-size: 16px;
  }
  .home-text69 {
    font-size: 16px;
  }
  .home-text70 {
    font-size: 16px;
  }
  .home-section {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-case-studies {
    gap: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-caption2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text75 {
    font-size: 12px;
  }
  .home-date-range {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text76 {
    font-size: 12px;
  }
  .home-text77 {
    font-size: 12px;
  }
  .home-text78 {
    font-size: 12px;
  }
  .home-gallery {
    gap: var(--dl-space-space-threeunits);
  }
  .home-row {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .home-case {
    gap: var(--dl-space-space-unit);
    width: 100%;
    margin-top: 0px;
  }
  .home-image04 {
    width: 100%;
    height: 210px;
  }
  .home-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text79 {
    font-size: 24px;
    line-height: 30px;
  }
  .home-case1 {
    gap: var(--dl-space-space-unit);
  }
  .home-image05 {
    width: 100%;
    height: 210px;
  }
  .home-heading1 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-text82 {
    font-size: 24px;
  }
  .home-image06 {
    width: 100%;
    height: 210px;
  }
  .home-text86 {
    font-size: 24px;
  }
  .home-text87 {
    font-size: 24px;
  }
  .home-row1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .home-case2 {
    gap: var(--dl-space-space-unit);
    width: 100%;
  }
  .home-heading2 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-book {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column-reverse;
    justify-content: center;
  }
  .home-left {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
  }
  .home-text91 {
    font-size: 32px;
    text-align: center;
    line-height: 38px;
  }
  .home-link05 {
    font-size: 16px;
  }
  .home-image07 {
    height: 220px;
  }
  .home-section1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-about-us {
    gap: var(--dl-space-space-threeunits);
  }
  .home-header1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-caption3 {
    font-size: 12px;
  }
  .home-statistics {
    gap: var(--dl-space-space-threeunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text92 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text93 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text94 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text95 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text96 {
    font-size: 32px;
    line-height: 38px;
  }
  .home-text97 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-recruit {
    gap: var(--dl-space-space-threeunits);
    padding-top: 0px;
  }
  .home-sections {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-section2 {
    gap: var(--dl-space-space-halfunit);
  }
  .home-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-header2 {
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-branding2 {
    font-size: 18px;
  }
  .home-content1 {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-email {
    font-size: 24px;
  }
  .home-number {
    font-size: 24px;
  }
  .home-links-row {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-locations {
    padding-top: var(--dl-space-space-threeunits);
    border-color: var(--dl-color-gray-black);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
    border-bottom-width: 1px;
  }
  .home-title3 {
    font-size: 24px;
  }
  .home-title4 {
    font-size: 24px;
  }
  .home-title5 {
    font-size: 24px;
  }
  .home-socials {
    width: 100%;
    display: flex;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-row2 {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-row3 {
    gap: var(--dl-space-space-fourunits);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-work-with-us {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-link {
    display: none;
  }
  .home-image {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-burger-menu {
    display: flex;
    align-self: flex-start;
  }
  .home-work-with-us1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text01 {
    display: none;
  }
  .home-image01 {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-branding1 {
    max-width: 80%;
  }
  .home-work-with-us2 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-work-with-us3 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-link04 {
    display: none;
  }
  .home-image02 {
    width: 16px;
    height: 14px;
    display: flex;
  }
  .home-image03 {
    width: auto;
    height: 220px;
  }
}
@media(max-width: 479px) {
  .home-mobile-menu {
    padding: 16px;
  }
}
