<div>
  <link href="./nav-links.css" rel="stylesheet" />
  <div class="nav-links-links">
    <a
      href="https://daylily-informatics.github.io/daylily-blog/index.html"
      target="_blank"
      rel="noreferrer noopener"
      class="nav-links-link navLink"
    >
      <span>blog</span>
    </a>
    <a
      href="https://github.com/Daylily-Informatics"
      target="_blank"
      rel="noreferrer noopener"
      class="nav-links-link1 navLink"
    >
      <span>git</span>
    </a>
    <a
      href="mailto:daylily@daylilyinformatics.com?subject="
      class="nav-links-link2 navLink"
    >
      <span>contact</span>
    </a>
  </div>
</div>
